/* Ajuste para tabla */
.tabla-tutores {
    margin-left: 60px;
}

.tabla-custom {
    color: black;
}

/* Espaciado general */
.content {
    padding: 20px;
}

.main-content header h1 {
    margin-bottom: 20px;
}
